namespace EFSample.Migrations
{
    using System;
    using System.Data.Entity.Migrations;
     
    public partial class AddUniqueToUsernameInUsers : DbMigration
    {
        public override void Up()
        {
            Sql("ALTER TABLE dbo.Users ADD CONSTRAINT UC_Username UNIQUE (Username)");
        }
         
        public override void Down()
        {
            Sql("ALTER TABLE dbo.Users DROP CONSTRAINT UC_Username");
        }
    }
}
