<div ng-controller="passwordEditServiceController">
    <form>
        <fieldset>
            <div class="form-group">
                <label for="Name">Name:</label>
                <input id="Name" type="text" ng-model="password.Name" required class="form-control" readonly="" />
            </div>
            <div class="form-group">
                <label for="Value">Password:</label>
                <input id="Value" type="text" ng-model="password.Value" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="Usage">Usage:</label>
                <input id="Usage" type="text" ng-model="password.Usage" class="form-control" />
            </div>
            <button class="btn" btn-primary" ng-click="save()">Save</button>
            <button class="btn" btn-warning" ng-click="cancel()">Cancel</button>
        </fieldset>
    </form>
</div>